extensions/wsc/src/test/resources/config/echo.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ws="http://www.mulesoft.org/schema/mule/wsc"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <ws:config name="config">
        <ws:connection wsdlLocation="http://localhost:6045/testService?wsdl" service="TestService" port="TestPort"/>
    </ws:config>

    <flow name="echoOperation">
        <ws:consume config-ref="config" operation="echo" payload="#[payload]"/>
    </flow>

    <flow name="echoWithHeadersOperation">
        <ws:consume config-ref="config" operation="echoWithHeaders" payload="#[payload]">
            <ws:headers>
                <ws:header key="headerIn" value="&lt;con:headerIn  xmlns:con=&quot;http://consumer.ws.extension.mule.org/&quot;&gt;Header In Value&lt;/con:headerIn&gt;" />
                <ws:header key="headerOut" value="&lt;con:headerOut  xmlns:con=&quot;http://consumer.ws.extension.mule.org/&quot;&gt;Header Out Value&lt;/con:headerOut&gt;" />
                <ws:header key="headerInOut" value="&lt;con:headerInOut  xmlns:con=&quot;http://consumer.ws.extension.mule.org/&quot;&gt;Header In Value&lt;/con:headerInOut&gt;" />
            </ws:headers>
        </ws:consume>
    </flow>

</mule>
