extensions/wsc/src/test/resources/config/noParams.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ws="http://www.mulesoft.org/schema/mule/wsc"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <ws:config name="config">
        <ws:connection address="http://localhost:6045/testService" soapVersion="1.1" service="TestService" port="TestPort"/>
    </ws:config>

    <flow name="noParamsOperation">
        <ws:consume config-ref="config" operationName="noParams" payload="#[payload]"/>
    </flow>
</mule>
